pypdf
docling
pydantic
python-dotenv
requests==2.32.3

langchain==0.3.7
langchain-core==0.3.63
langchain-text-splitters==0.3.8
langsmith==0.1.147
langgraph==0.2.76
langchain-ollama==0.2.3
langchain-openai==0.2.14
langchain-huggingface==0.1.2
langchain-google-genai==2.1.5

numpy==1.26.4
opencv-python==4.11.0.86
sentence-transformers
streamlit
pandas

google-auth-oauthlib
google-auth-httplib2
google-api-python-client

python-docx
selenium
undetected-chromedriver
