pypdf
pydantic
python-dotenv
requests==2.32.3

langchain==0.3.7
langgraph
langchain-ollama
langchain-openai
langchain-huggingface
langchain-google-genai

numpy
sentence-transformers
streamlit
pandas

google-auth-oauthlib
google-auth-httplib2
google-api-python-client

python-docx